<div class="row">
  <div class="col-md-6">
    <h2>How It Works</h2>
    <ol>
      <li>Enter two or more London postcodes.</li>
      <li>Select the type of activity you're interested in (e.g., pub, cafe, park).</li>
      <li>Get a list of suggested activities with equal travel times for each person.</li>
    </ol>
  </div>
  <div class="col-md-6">
    <h2>Why MeetMe?</h2>
    <ul>
      <li>Save time by finding a central meeting point.</li>
      <li>Discover new places to meet and socialize.</li>
      <li>Make planning group activities easy and convenient.</li>
    </ul>
  </div>
</div>
<div class="text-center my-5">
  <a (click)="onGetStarted()" class="btn btn-primary btn-lg">Get Started</a>
</div>
